@import './colors.scss';


@media all and (min-width: 0px) and (max-width: 768px) {
  .OB-container{
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .OptionText{
    font-size: 25px !important;
  }
  .OptionButton{
    border-radius: 50%;
    background-color: $lgrey;
    width: 50px !important;
    height:50px !important;
    margin-left:auto !important;
    margin-right:auto !important;
    font-size: 20px !important;
  }
}

$borderWidth: 3px;


.OptionButton{
  border-radius: 50%;
  background-color: $lgrey;
  width: 115px;
  height:115px;
  margin-left:50px;
  margin-right:50px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: grey;
}

.OP-selected{
  margin-left:47px;
  margin-right:47px;
  margin-top:-3px;
  margin-bottom: -3px;
  background-color: grey;
}

.OptionButton:hover{
  margin-left:47px;
  margin-right:47px;
  margin-top:-3px;
  margin-bottom: -3px;
  background-color: grey;
}

.OptionText{
  text-align: center;
  color: $lgrey;
  margin-top:10px;
  margin-bottom:10px;
}
.OP-text-select.Writing{
  color: $blue;
}
.OP-text-select.Python{
  color: grey;
  // text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}
.OP-text-select.Web{
  color: $green;
}

.OP-selected.Writing{
  border: $borderWidth solid $blue;
  color: $blue;

}
.OptionButton.Writing:hover{
  border: $borderWidth solid $blue;
  color: $blue;
}

.OP-selected.Python{
  border: $borderWidth solid yellow;
  color: yellow;
}
.OptionButton.Python:hover{
  border: $borderWidth solid yellow;
  color: yellow;
}

.OP-selected.Web{
  border: $borderWidth solid $green;
  color: $green;
}
.OptionButton.Web:hover{
  border: $borderWidth solid $green;
  color: $green;
}



// end
