@import './_colors.scss';

// for tablets and smaller
@media all and (min-width: 0px) and (max-width: 768px) {

.project-item{
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: flex-start !important;
}

.project-item{
  padding:8px 4px !important;
}
.proj-icon{
  display: none !important;
}
.proj-skills{
  display: none !important;
}
.proj-title{
  font-size: 12px !important;
  width: 100% !important;
  height: auto !important;
}

.m-proj-skills{
  display: flex !important;
  font-size: 10px !important;
  margin: 0px 4px !important;
}
.m-proj-skills>p{
  margin: 2px 0px !important;
}

.pt-wrapper>h2{
  margin:4px !important;
}
.pt-wrapper>p{
  margin:2px 4px  !important;
}
.project-item-container{
  height: auto !important;
}

}

.project-item-container{
  width:99.75%;
  height: 150px;
  border: double 2px transparent;
  background-image: linear-gradient(white, white), linear-gradient(white, white);
  background-origin: border-box;
  background-clip: content-box, border-box;

}
.project-item-container:hover{
  border: double 2px transparent;
  border-radius: 3px; // option to add border radius
  background-image: linear-gradient(white, white), linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
  transform: translateY(-1px) translateX(-1px);
}

.project-link{
  text-decoration: none;
}

.project-item{
  height:85%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.proj-icon{
  height:100%;
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: grey;
}

.proj-title{
  height: 100%;
  width: 62.5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.proj-title>div>h2{
  color:grey;
  font-weight: bolder;
  margin-bottom: 10px;
}
.proj-title>div>p{
  color: grey;
  margin-top: 10px;
}

.proj-skills{
  height: 100%;
  width: 27.5%;
  color:grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.proj-skills>div>h4{
  margin-right:10px;

}
.proj-skills>div>p{
  font-size:15px;
  margin-left:10px;
  margin-bottom: 4px;
  margin-top:4px;
}

.m-proj-skills{
  display: none;
}

.pi-pad{
  padding-left: 4px;
  padding-right: 4px;
}
