
$head-height: 150px;
$sp-exittime: 2s;

.splash{
  height: 100%;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG1 3s forwards;
}
@keyframes gradientBG1 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradientBG2 {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sp-container{
  height: 50%;
  width: 75%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sp-header{
  width: 100%;
  color: white;
}

.sp-body{
  width: 100%;
  color: white;
}

.sp-link{
  color:white;
  text-decoration: none;
}
.sp-link:hover{
  text-shadow: 0 2px 2px black;
}

.bump-hover:hover{
  transform: translateY(-2px);
}

.spr-box{
  padding:0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  color: white;
}

.spp-box{
  padding:0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  color: white;

}
