@import '_colors.scss';

$entertime: 2000ms;
$exittime: 2000ms;

.splash{
  height: 100%;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG1 $entertime forwards;
}
@-webkit-keyframes gradientBG1 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradientBG1 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.sp-container{
  height: 50%;
  width: 75%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sp-header{
  width: 100%;
  color: white;
}

.sp-body{
  width: 100%;
}

.sp-link{
  color: white;
  text-decoration: none;
  display: flex;
}
.hover-wrap:hover{
  color: $lgrey;
  text-decoration: none;
  text-shadow: 0 2px 2px black;
  cursor: pointer;
}

.hover-wrap{
  display: inline-block;
}

.sp-page{
  margin-top:12.5px;
  margin-bottom:12.5px;
}

.spr-box{
  padding:0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  color: white;
}

.spp-box{
  padding:0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  color: white;

}
