$exittime: 2000ms;
$entertime: 2000ms;

.splash.transition-enter {
  opacity: 0.05;
  height: 150px;
  animation: gradientBG1 $entertime forwards;
}

.splash.transition-enter-active {
  opacity: 1;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  transition: all $entertime;
}
.splash.transition-enter>* {
  opacity: 0.00;
}

.splash.transition-enter-active>*{
  opacity: 1;
  // height: 100%;
  transition: all $exittime;

}

.splash.transition-exit {
  opacity: 1;
  position: absolute;
  z-index:1;
  top:0;
  left: 0;
}
//
.splash.transition-exit-active {
  opacity: 0.05;
  height: 150px;
  transition: all $exittime;
  animation: gradientBG2 $exittime forwards;
}

@-webkit-keyframes gradientBG2 {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBG2 {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
//
// .splash.transition-exit>* {
//   opacity: 1;
//   transform: translateY(0);
// }
//
// .splash.transition-exit-active>* {
//   opacity: 0.0;
//   transition: all 1000ms;
//   transform: translateY(-10px);
// }
